.footer {
    padding: 8px 0 20px;

    &__copyright, &__powered {
        font-size: 9px;
        margin: 3px 0 0;
    }

    &__copyright {
        float: left;
    }
    &__powered {
        float: right;
    }
}
.footer-nav {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    overflow: hidden;

    &__item {
        display: inline;
        margin: 0 7px;
    }
    &__link {
        color: #000;
    }
}

@media (max-width: 979px) {
    .footer-nav {
        &__item {
            margin: 0 2px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;

        &__copyright, &__powered {
            text-align: center;
            float: none;
        }
    }
    .footer-nav {
        &__item {
            display: block;
            margin: 10px 0;
        }
    }
}
