$font-size-title:           18px !default;
$font-size-text:            11px !default;

$font-family-default:      'Open Sans', sans-serif !default;
$font-family-alt:          'Helvetica', Helvetica, Arial, sans-serif !default;
