@import 'components/all';
@import 'pages/all';

body {
    font: normal normal normal $font-size-text $font-family-default;
    min-height: 100000px;
}
.wrapper {
    max-width: 1185px;
    margin: 0 auto;
}
