@import 'components/all';
@import 'pages/all';

body {
    font: normal normal normal $font-size-text $font-family-default;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

.wrapper {
    min-width: 320px;
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 767px) {
    .wrapper {
        padding: 0;
    }
}
